spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/subscription_manager?createDatabaseIfNotExist=true
    username: root
    password: '1234'
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
#logging:
#  level:
#    org:
#      springframework:
#        security: DEBUG