<header class="header"
        xmlns:th="http://www.thymeleaf.org">
    <div class="logo">
        <a class="main" th:href="@{/}">REMINDME</a>
        <span class="divider"></span>
        <span class="sub">THE ULTIMATE SUBSCRIPTIONS MANAGER</span>
    </div>
    <nav class="nav">
        <ul class="nav-list" role="list">
            <li class="nav-item active">
                <a th:href="@{/users/login}" class="nav-link">LOGIN</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/users/register}" class="nav-link">REGISTER</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/users/admin}" class="nav-link">ADMIN</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/users/profile}" class="nav-link">PROFILE</a>
            </li>
            <li class="nav-item">
                <form th:action="@{/users/logout}" th:method="post">
                    <input class="nav-link" type="submit" value="Logout">
                </form>
            </li>
        </ul>
    </nav>
</header>