@import url("reset-css.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --clr-grey-dark-text: #2c383b;
    --clr-grey-light-text: #999999;
    --clr-grey-light: #ececec;
    --clr-grey-dark: #333333;
    --clr-white: #fff;
    --clr-paper-like: #fef9f2;
    --clr-orange: #e24e2a;
    --clr-green: #1b9772;

    --header-height: 126px;
}

body {
    font-family: Helvetica, Roboto, sans-serif;
    background-color: var(--clr-paper-like);
}

/*------HEADER------*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header .logo .main {
    font-size: 48px;
    font-weight: bold;
    color: var(--clr-grey-dark-text);
    text-decoration: none;
}

.header .divider {
    /*border-left: 2px solid lightgray;*/
    width: 2px;
    background-color: var(--clr-grey-light-text);
    height: 50px;
}

.header .nav .nav-list {
    display: flex;
    gap: 5px;
}

.header .nav .nav-item {
    background-color: var(--clr-grey-light);
    color: var(--clr-grey-dark);
    padding: 1.5rem 2.5rem;
    font-size: 20px;
}

.header .nav .nav-item:hover {
    background-color: #8d8d8d;
}

.header .nav .nav-item.active {
    background-color: var(--clr-orange);
    color: var(--clr-white);
}

.header .nav .nav-item .nav-link {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.05rem;
}

.nav-logout-container {
    display: flex;
    align-items: center;
}

.nav-logout-input {
    background-color: transparent;
    border: none;
    padding: 5px 7px;
    outline: none;
}

/*------REGISTER------*/

.register-container{
    margin: 0 auto;
    width: 100%;
}

.register-container form {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-group {
    display: block;
    width: 20%;
    background-color: transparent;
    padding: 7px 10px;
    margin-bottom: 2px;
}

.form-control {
    display: block;
    background-color: transparent;
    border-radius: 0;
    border: solid 1px;
    padding: 5px 7px;
    outline: none;
}